
.app-controller {
  padding: 10px;
}

.controller-header {
  margin-bottom: 20px;
}

.controller-table {
  padding-bottom: 400px;
}

.app-record {
  font-family: Consolas, monospace;
  background-color: hsl(100,10%,30%);
  color: white;
  padding: 0.5em 10px;
  margin-bottom: 1px;
}

.app-record.is-focused {
  background-color: hsl(100,10%,50%);
}

.record-type {}
pre.record-data {
  margin: 0 0 0 2em;
  font-size: 13px;
  line-height: 1.4em;
}
