
.app-todolist {}

.todolist-header {
  padding: 10px;
}

.todolist-table {
  padding: 10px;
}

.app-task {}

.app-task .task-toggle {
  display: inline-block;
  width: 30px;
  height: 30px;
  vertical-align: middle;
  background-color: hsl(90,10%,90%);
}

.app-task .task-toggle.is-done {
  background-color: hsl(240,30%,70%);
}
